      <div class="large-3 pull-9 columns">
        <div class="docs section-container accordion" data-section="accordion">
          <section class="section">
            <p class="title"><a href="#">Branding Voice</a></p>
            <div class="content">
              <ul class="side-nav">
                <li><a href="/style-guide/branding-voice.html">Språkligt tonläge</a></li>
                <li><a href="#">Terminologi</a></li>
              </ul>
            </div>
          </section>
          <section class="section active">
            <p class="title"><a href="#">Designprinciper</a></p>
            <div class="content">
              <ul class="side-nav">
                <li><a class="active" href="#">Hur vi skapar menigsfull ordning</a></li>
              </ul>
            </div>
          </section>
          <section class="section">
            <p class="title"><a href="#">Användarens förutsättningar</a></p>
            <div class="content">
              <ul class="side-nav">
                <li><a href="#">Datorprestanda</a></li>
                <li><a href="#">Skämytor</a></li>
                <li><a href="#">Datorvana</a></li>
                <li><a href="#">Färgomfång</a></li>
                <li><a href="#">Språk</a></li>
                <li><a href="#">Personas</a></li>
              </ul>
            </div>
          </section>
          <section class="section">
            <p class="title"><a href="#">Färgpalett</a></p>
            <div class="content">
              <ul class="side-nav">
                <li><a href="#">Färgpalett</a></li>
              </ul>
            </div>
          </section>
          <section class="section">
            <p class="title"><a href="#">Interaktionsprinciper</a></p>
            <div class="content">
              <ul class="side-nav">
                <li><a href="#">Interaktionsprinciper</a></li>
              </ul>
            </div>
          </section>
          <section class="section">
            <p class="title"><a href="#">Ikoner</a></p>
            <div class="content">
              <ul class="side-nav">
                <li><a href="#">Ikoner</a></li>
              </ul>
            </div>
          </section>
          <section class="section">
            <p class="title"><a href="#">Grid</a></p>
            <div class="content">
              <ul class="side-nav">
                <li><a href="#">Grid</a></li>
              </ul>
            </div>
          </section>
          <section class="section">
            <p class="title"><a href="#">Att skissa på ett gränssnitt</a></p>
            <div class="content">
              <ul class="side-nav">
                <li><a href="#">Arbetsmetoder</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
